<div class="container my-4">
  <div class="gridone m-0 p-0">
    <div class="item"><a href="#"><img class="img-fluid" src="http://via.placeholder.com/350x350"></a></div>
    <div class="item"><a href="#"><img class="img-fluid" src="http://via.placeholder.com/350x350"></a></div>
    <div class="item"><a href="#"><img class="img-fluid" src="http://via.placeholder.com/350x350"></a></div>
    <div class="item"><a href="#"><img class="img-fluid" src="http://via.placeholder.com/350x350"></a></div>
    <div class="item"><a href="#"><h3>This issome text as part of the grid content</h3></a></div>
    <div class="item"><a href="#"><img class="img-fluid" src="http://via.placeholder.com/350x350"></a></div>
    <div class="item"><a href="#"><img class="img-fluid" src="http://via.placeholder.com/350x350"></a></div>
    <div class="item"><a href="#"><img class="img-fluid" src="http://via.placeholder.com/400x400"></a></div>
    <div class="item">
      <a href="#"><h3>This issome text as part of the grid content</h3></a>
    </div>
        <div class="item">
      <a href="#"><h3>This issome text as part of the grid content</h3></a>
    </div>
    <div class="item"><a href="#"><img class="img-fluid" src="http://via.placeholder.com/400x400"></a></div>
    <div class="item"><a href="#"><img class="img-fluid" src="http://via.placeholder.com/400x400"></a></div>
  </div>
</div>
 