  <section class="filter">
  <input type="text" id="search" placeholder="Search products">
  <label for="sort">Sort by:</label>
  <select id="sort">
    <option value="default">Reset</option>
    <option value="recent">Most Recent</option>
  </select>
  </section>